/*
8 x 8 board, light square in bottom right
pieces are only on dark squares
*/
#board {
	height:calc(100% - 100px);
	width:calc(100% - 20px);
	padding:0;
	border:10px solid #eee;
	background-color:#833030;
}
.row {
	height:calc(100% / 8);
}
.space {
	display:inline-block;
	margin:0;
	padding:0;
	border:0;
	background-color:#111;
	height:100%;
	line-height:100%;
	width:calc(100% / 8);
	text-align:center;
}
.nonspace {
	display:inline-block;
	margin:0;
	padding:0;
	border:0;
	background-color:inherit;
	height:100%;
	line-height:100%;
	width:calc(100% / 8);
	text-align:center;
}